<!DOCTYPE html>
<html>
<head>
	<title>TaskMan App</title>
</head>
<body>
	{% include 'includes/_messages.html' %}
	{% if current_user %}
		<h2>Welcome <strong>{{ current_user.username }}</strong></h2>
			<a href="{{ url_for('logout') }}">Logout</a><br>
			{% if current_user.id == id %}
				<a href="{{ url_for('createTask', user_id = id) }}">Create New Task</a>
				<h3>Your Tasks</h3>
				{% for task in tasks %}
					<br>
					<h4>Task name is:- {{ task.name }}</h4>
					<h4>Task Deadline is:- {{ task.deadline }}</h4>
					{% if task.complete %}
						<h4>Task Completed</h4>
						<a href="{{ url_for('markTask', task_id = task.id) }}">Click To Mark This Task AS Incomplete</a><br>
						<a href="{{ url_for('deleteTask', task_id = task.id) }}">Delete This Task</a><br>
					{% else %}
						<h4>Task Incomplete</h4>
						<a href="{{ url_for('markTask', task_id = task.id) }}">Click To Mark This Task As Complete</a><br>
						<a href="{{ url_for('deleteTask', task_id = task.id) }}">Delete This Task</a><br>
					{% endif %}
				{% endfor %}
			{% endif %}
	{% else %}
		<h2>Not Logged In Click Below Link To Login</h2>
		<a href="{{ url_for('login') }}">Login</a>
	{% endif %}
</body>
</html>